@charset "utf-8";
html,body{margin:0;padding:0;}

header{position:relative;display:inline-block;}
header #logo{position:relative;display:inline-block;margin-top:8px;margin-left:30px;}
header #logo img.logo{width:100px;height:30px;}

nav li{list-style:none;display:inline-block;padding:5px;}





/* Mobile Devices */
@media (max-width : 380px ){

}


/* Tablet View */
@media (min-width: 381px) and (max-width: 949px){

}


/* Desktop View */
@media (min-width: 950px){

}